<h1>
  New cryptokey
  <%= " for #{@domain.name}" if @domain %>
  <%= button_to 'Back', @domain ? @domain : domains_path,
    class: "btn btn-default", method: :get %>
</h1>

<div class="container">
  <%= render 'form' %>
</div>
