<h1>
  <%= t('.title') %>
  <%= " #{t('c.for')} #{@cryptokey.domain.name}" if @cryptokey.domain %>
  <%= button_to 'Back', @cryptokey.domain ? @cryptokey.domain : domains_path,
    class: "btn btn-default", method: :get %>
</h1>

<div class="container">
  <%= render 'form' %>
</div>
