<h1>
  <%= t('.title') %>
  <%= " #{t('c.for')} #{@comment.domain.name}" if @comment.domain %>
  <%= button_to 'Back', @comment.domain ? @comment.domain : domains_path,
    class: "btn btn-default", method: :get %>
</h1>

<div class="container">
  <%= render 'form' %>
</div>
