/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require_tree .
 *= require_self
 */

@media (min-width: 768px) {
  .dl-prop dt {
    float: left;
    width: 100px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-prop dd {
    margin-left: 120px;
  }
}

.button_to {
  display: inline-block;
}
.banner {
  display: block;
  margin-top: 20px;
  margin-bottom:10px;
}

.banner h2 {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0px;
}

.banner .nav-lang {
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}

.banner .nav-lang li {
  float:left;
  margin:0px;
}

.banner .nav-lang li a {
  margin:0px;
  padding: 1px 10px;
}
